<ion-header>
  <ion-toolbar>
    <ion-title>instruction</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- <ion-button slot="end" color="primary">
       Skip
    </ion-button> -->
 <!-- <ion-card> -->
 <!-- <div style="float:right"> -->
  <!-- <button  printSectionId="demo" ngxPrint>Print</button>
  <ion-button  size="small" style="float: right;" color="success" (click)="skip()"  >Skip</ion-button> -->
<!-- </div> -->
   <ion-card-title>Testing, Inspection and Certification of Electrical installation to safety and reliability.</ion-card-title><br>
   <ion-card-subtitle>This safety audit (Testing Inspection & Certification) is based on IEC 60364-6.</ion-card-subtitle>
    
   <ion-card-content>Electrical Safety is an important subject in modern world. Every electrical system shall ensure safety of living beings and property from dangers arising from electricity. Hence every electrical installation shall be designed, erected and tested as per the modern electrical safety standards.
       Globally, electrical safety rules of most nations are based on IEC 60364. This standard explains the rules for the design, erection, and verification of electrical installations up to 1000 V AC and 1500 V DC. The wiring rules of UK called BS7671 or Germany called as DIN VDE 0100 are adopted from IEC 60364. The NFPA 70 (NEC of USA) closely follows the fundamental safety measures recommended in IEC 60364. In India the standard is adopted as IS732 and NEC of India.
       Testing, Inspection and Certification of an electrical installation as per the international standard IEC 60364 ensures not only safety of the installation, but a reliable operation as well.
  
   
   <ol id="demo"> 
   <u>RUSH LV system TIC software supports every electrical installation to ensure conformity to the most modern global standard. 
   RUSH is designed as an interactive software so that every query of the safety engineer is clarified during the process of TIC. RUSH ensures Inspection and testing of various methods adopted for safety such as 
   </u>
   
       <li>Method of protection against electric shock.
       </li>
       <li>Presence of fire barriers and other precautions against propagation of fire and protection against thermal effects.
       </li>
       <li>Selection of conductors for current-carrying capacity.
       </li>
       <li>Single pole switching devices connected in the line conductors.</li>
       <li>Choice, setting, selectivity and coordination of protective and monitoring devices 
       </li>
       <li>Selection, location and installation of suitable overvoltage protective devices (SPD) where specified.</li>
       <li>Selection, location and installation of suitable isolating and switching devices.</li>
       <li>Selection of equipment and protective measures appropriate to external influences and mechanical stresses.
       </li>
       <li>Identification of neutral and protective conductors.</li>
       <li>Presence of diagrams, warning notices or similar information.</li>
       <li>
           Identification of circuits, overcurrent protective devices, switches, terminals etc.</li>
       <li>Adequacy of termination and connection of cables and conductors.</li>
       <li>Selection and installation of earthing arrangements, protective conductors and their connections.</li>
       <li>Accessibility of equipment for convenience of operation, identification and maintenance.</li>
       <li>Measures against electromagnetic disturbances.</li>
       <li>Exposed-conductive-parts are connected to the earthing arrangement.</li>
       <li>Selection and erection of the wiring systems.</li>
       <li>Requirements for special installations or locations(e.g Solar PV, Medical Locations etc).
       </li>
       <li>Resistance measurements of conductors.</li>

       <li>Insulation resistance of LV, SELV, PELV & electrically separated circuits.
       </li>
       <li>Floor and wall resistance/impedance measurements (shock voltage measurements).</li>
       <li>Polarity test.</li>
       <li>Time and efficiency of automatic disconnection of supply.</li>
       <li>Efficiency of additional protection.</li>
       <li>Phase sequence.</li>
       <li>Functional tests.</li>
       <li>Voltage drop.</li>
       <li>PAT</li>
       <li>Requirement of special locations</li>
   </ol>
  
   
       <ion-text>RUSH is designed to cater to the modern electrical safety requirements of IS and IEC standards and it provide the 
           results in the recommended formats. It is developed as an efficient, intelligent, and user-friendly application, 
           by which the users can find out probable hazards that could arise in future and do preventive measures to avoid 
           accidents from electricity.
       </ion-text><br>
       <ion-row>
        <!-- <ion-col>
        <ion-item>  <ion-checkbox (click)="checkBox($event)"></ion-checkbox> <ion-label>I Agree and Continue</ion-label> </ion-item>
      </ion-col> -->
      <ion-col>
        <ion-label color="success"  (click)="continue()" style="font-size:larger;float:right;cursor: pointer;"><ion-icon name="arrow-forward-outline"></ion-icon> Next</ion-label>
          <!-- <ion-button  color="success" (click)="continue()" style="float:right;">Continue</ion-button> -->
      </ion-col>
      </ion-row>
</ion-card-content>
<!-- </ion-card> -->
</ion-content>
